<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Parte 4</title>
    </head>
    <body>
        <h2>Head</h2>
        <ul>
            <li>@Html.ActionLink("Ir al home", "Home", "Home")</li>
            <li>@Html.ActionLink("Ir al about", "About", "Home")</li>
        </ul>