<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @{ 
        string User = Convert.ToString(Session["userName"]);

        <h2>Bienvenido: @User</h2>
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    <footer>
        <center>
            <p>&copy;Felix</p>
        </center>
    </footer>        
</body>
</html>
